extends layout

block content
  h1= title
  p Welcome to #{title}
  p Oluwadamilola view/index

  button#name Press Me
  p 
  button(type="button" class="btn btn-secondary" onClick= "doBump()") PressMe

  div#bump() Bump the point 

  script.
    var count = 0 
    var bump = 1
    function doBump(){
      count += bump 
      bump += 1
      document.getElementById("bump").innerHTML = "Count " + count + " with bump " + bump 
    }
     
    